
.page.theme_light {
  --title-color: #FFC2E6;
  --main-color: #FF8DCB;
  --main-text: 'IBM Plex mono';
  --text-color: #353430;
  --titletextColor: #353430;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --dicoration-color:#353430;
  --focus-collor:#FFC2E6;
  .decoration-element {
    display: none;  
  }
}

@media (prefers-color-scheme: light) {
  
  :root{
    --background-color:#FFF1F7;
    --title-color: #FFC2E6;
    --main-color: #FF8DCB;
    --main-text: 'IBM Plex mono';
    --text-color: #353430;
    --titletextColor: #353430;
    --background-image: url(../images/cover-image-light.png);
    --dicoration-color:#353430;
    --focus-collor:#FFC2E6;
   
  }
  .decoration-element  {
    display: none ; 
  }
}