.page.theme_light {
  --title-color: #ffc2e6;
  --main-color: #ff8dcb;
  --main-text: 'IBM Plex mono';
  --text-color: #353430;
  --titletextColor: #353430;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --dicoration-color: #353430;
  --focus-collor: #ffc2e6;
  --link-collor: #ff8dcb;
  --hover: rgb(50 49 45 / 0.4);
}

.theme_light .decoration-element {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --link-collor: #ff8dcb;
    --background-color: #fff1f7;
    --title-color: #ffc2e6;
    --main-color: #ff8dcb;
    --main-text: 'IBM Plex mono';
    --text-color: #353430;
    --titletextColor: #353430;
    --background-image: url(../images/cover-image-light.png);
    --dicoration-color: #353430;
    --focus-collor: #ffc2e6;
    --hover: rgb(50 49 45 / 0.4);
  }

  .decoration-element {
    display: none;
  }
}
