/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  font-family: var(--main-text, monospace);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-position: center center;
  background-size: cover;
}

.header {
  padding-right: 20px;
  padding-top: 20px;
  position: relative;
  min-height: 375px;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: baseline;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px 10px;
  padding-left: 20px;
}

.header__theme-menu-button {
  background-color: inherit;
  border: none;
  color: var(--decoration-color);
  display: inline-flex;
  height: 26px;
  padding: 0 13px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decoration-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--decoration-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover);
}

.decoration-element::after {
  content: 'REC';
  position: absolute;
  color: var(--main-color, #ff0070);
  font-family: var(--main-text, monospace);
  font-size: 18px;
  line-height: 25px;
  right: 48px;
  top: 21px;
  text-transform: uppercase;
}

.decoration-element::before {
  content: '';
  position: absolute;
  background-color: var(--main-color, #ff0070);
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px var(--main-color, #ff0070);
  border-radius: 50%;
  right: 30px;
  top: 29px;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  right: 19px;
  top: 19px;
}

.decorated-zone::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  bottom: 19px;
  left: 19px;
}

.header-title {
  color: var(--focus-color);
  text-shadow: 4px 4px 0 #ff0070;
  font-size: clamp(7.5rem, 6.1638rem + 5.7011vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  padding-bottom: 2%;
}

.header-text {
  background-color: var(--main-color);
  color: var(--titletextColor, #000028);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  line-height: 23.4px;
  max-width: 491px;
  width: 100%;
  justify-self: end;
  margin-bottom: 4%;
  align-self: center;
}

.concept {
  padding: 0 20px;
  margin-top: 60px;
}

.concept__grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 11px;
  grid-row-gap: 18px;
}

.concept__block {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
}

.concept__title {
  color: var(--decoration-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.concept__title-text {
  color: var(--titletextColor);
  background-color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.concept-text {
  color: var(--text-color);
  line-height: 23.4px; /* 130% */
  font-size: 18px;
  margin-top: 10px;
}

.concept-text-box {
  color: var(--text-color);
  line-height: 23.4px; /* 130% */
  font-size: 18px;
  margin-top: 10px;
}

.concept__box__title-text {
  color: var(--titletextColor);
  background-color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.concept__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
  margin-top: 80px;
}

.concept__inner article:first-of-type {
  grid-column-start: 1;
}

.link {
  text-shadow: 2px 2px 0 var(--link-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  outline-offset: 2px;
}

.link:focus {
  outline-offset: 2px;
  outline: 1px solid var(--text-color);
}

.concept__header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 80px;
  grid-column-gap: 12px;
}

.concept__box {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.concept__box p:nth-child(6) {
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
}

.concept__title-low-text {
  background-color: var(--main-color);
  color: var(--titletextColor);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.lots {
  margin-top: 80px;
  padding: 0 20px;
}

.images__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, auto));
  grid-template-rows: repeat(3, minmax(0, auto));
  gap: 19px;
  margin-top: 20px;
  margin-bottom: 51px;
  grid-template-areas:
    'images__grid-sunset images__grid-sunset images__grid-ice'
    'images__grid-tape images__grid-tape-books images__grid-ice'
    'images__grid-tape images__grid-streets images__grid-streets';
}

.images__grid-sunset {
  grid-area: images__grid-sunset;
}

.images__grid-ice {
  grid-area: images__grid-ice;
}

.images__grid-tape {
  grid-area: images__grid-tape;
}

.images__grid-streets {
  grid-area: images__grid-streets;
}

.images__grid-tape-books {
  grid-area: images__grid-tape-books;
}

.image {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  block-size: 100vh;
  min-height: 375px;
}

.footer-title {
  color: var(--focus-color);
  font-size: clamp(7.5rem, 6.1638rem + 5.7011vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 #ff0070;
}

@media (max-width: 1027px) {

  .header-title {
    font-size: 120px;
  }

  .header__theme-menu-content {
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    padding: 0;
  }

  .header-text {
    align-self: center;
    max-width: 364px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px; /* 130% */
    margin-bottom: 5%;
  }

  .concept__grid-container {
    grid-column-gap: 20px;
  }

  .concept__inner article {
    grid-column: 1 / span 3;
  }

  .concept__header {
    margin-top: 82px;
    grid-column-gap: 19px;
  }

  .footer-title {
    font-size: 120px;
  }
}

@media (max-width: 767px) {

  .header {
    padding: 10px;
  }

  .decoration-element::after {
    right: 39px;
    top: 10px;
  }

  .decoration-element::before {
    right: 20px;
    top: 19px;
  }

  .header__theme-menu-list {
    gap: 10px 10px;
  }

  .concept-text-box {
    margin-top: 0;
  }

  .concept-text {
    margin-top: 11px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .header__theme-menu-content {
    margin-top: 2%;
  }

  .header-title {
    font-size: 116px;
    padding-top: 3%;
  }

  .header-text {
    margin-bottom: 2%;
  }

  .concept {
    padding: 10px;
    margin-top: 31px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .concept__grid-container {
    display: flex;
    flex-direction: column;
  }

  .concept__inner {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .concept__header {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
  }

  .concept__title-low-text {
    margin-bottom: 10px;
  }

  .card {
    gap: 0;
  }

  .lots {
    padding: 0 10px;
    margin-top: 42px;
  }

  .images__grid {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .paragraph-title {
    margin-bottom: 17px;
  }

  .footer-title {
    font-size: 116px;
  }

  .footer {
    padding: 0 10px;
  }
}
