:root {
  --title-color: #db00ff;
  --main-color: #ff0070;
  --main-text: 'IBM Plex mono';
  --text-color: #f1b2ce;
  --titletextColor: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --decoration-color: #ff0070;
  --focus-color: #db00ff;
  --link-color: #ff0070;
  --hover: rgb(255 0 112 / 0.4);
}

.theme_light .decoration-element {
  display: none;
}

.theme_dark .decoration-element {
  display: block;
}
